assets/settings_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Sets">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Set">
          <xs:complexType mixed="true">
            <xs:sequence minOccurs="0">
              <xs:element maxOccurs="unbounded" name="Group">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element maxOccurs="unbounded" name="MultiChoiceSetting">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:choice maxOccurs="unbounded">
                              <xs:element name="title" type="xs:string" />
                              <xs:element name="description" type="xs:string" />
                              <xs:element name="type" type="xs:string" />
                              <xs:element name="cvar" type="xs:string" />
                              <xs:element name="options">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element maxOccurs="unbounded" name="option">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="title" type="xs:string" />
                                          <xs:element name="value" type="xs:unsignedByte" />
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:choice>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" name="BooleanSetting">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="title" type="xs:string" />
                            <xs:element name="description" type="xs:string" />
                            <xs:element name="cvar" type="xs:string" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" name="PathInputSetting">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="title" type="xs:string" />
                            <xs:element name="description" type="xs:string" />
                            <xs:element name="cvar" type="xs:string" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="icon" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>